{% extends "base.html" %}
{% block title %}
Staff Dashboard
{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h2>Welcome {{ current_user.name }}</h2>
            <p class="text-muted mb-0">
                Staff Dashboard
            </p>
        </div>

        <div>
            <a href="{{ url_for('main.staff_profile') }}" class="btn btn-primary">
                My Profile
            </a>

            <a href="{{ url_for('main.logout') }}" class="btn btn-danger">
                Logout
            </a>
        </div>
    </div>

    <div class="row mt-4 justify-content-between">
        <div class="col-md-5">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h4>Assigned Treks</h4>
                    <h2>{{ total_treks }}</h2>
                </div>

            </div>
        </div>

        <div class="col-md-5">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h4>Registered Trekkers</h4>
                    <h2>{{ total_trekkers }}</h2>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <h3 class="mt-4">
        My Assigned Treks
    </h3>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Slots</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% if assigned_treks %}
            {% for trek in assigned_treks %}

            <tr>
                <td>{{ trek.id }}</td>
                <td>{{ trek.trek_name }}</td>
                <td>{{ trek.location }}</td>
                <td>{{ trek.available_slots }}</td>
                <td>{{ trek.status }}</td>
                <td>
                    <a href="{{ url_for('main.edit_assigned_trek', trek_id=trek.id) }}" class="btn btn-warning btn-sm">
                        Update
                    </a>
                    <a href="{{ url_for('main.view_participants', trek_id=trek.id) }}" class="btn btn-info btn-sm">
                        Participants
                    </a>

                </td>

            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="6" class="text-center">
                    No Treks Assigned
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}