{% extends "base.html" %}
{% block title %}
Update Trek
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>
        Update Trek
    </h2>

    <form method="POST">
        <div class="mb-3">
            <label>
                Available Slots
            </label>

            <input type="number" name="available_slots" class="form-control" value="{{ trek.available_slots }}" min="0"
                required>
        </div>
        <div class="mb-3">
            <label>
                Status
            </label>

            <select name="status" class="form-select">
                <option value="Open" {% if trek.status=="Open" %}selected{% endif %}>
                    Open
                </option>
                <option value="Closed" {% if trek.status=="Closed" %}selected{% endif %}>
                    Closed
                </option>

                <option value="Started" {% if trek.status=="Started" %}selected{% endif %}>
                    Started
                </option>
                <option value="Ongoing" {% if trek.status=="Ongoing" %}selected{% endif %}>
                    Ongoing
                </option>

                <option value="Completed" {% if trek.status=="Completed" %}selected{% endif %}>
                    Completed
                </option>
            </select>

        </div>
        <button class="btn btn-success">
            Update Trek
        </button>
    </form>

</div>
{% endblock %}