{% extends "base.html" %}
{% block title %}
All Bookings
{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>All Trek Bookings</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Trek</th>
                <th>Booking Date</th>
                <th>Booking Status</th>
                <th>Payment</th>
                <th>Trek Status</th>
            </tr>
        </thead>

        <tbody>
            {% if bookings %}
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.user.name }}</td>
                <td>{{ booking.trek.trek_name }}</td>
                <td>{{ booking.booking_date.strftime("%d-%m-%Y") }}</td>
                <td>{{ booking.status }}</td>
                <td>{{ booking.payment_status }}</td>
                <td>{{ booking.trek.status }}</td>
            </tr>

            {% endfor %}
            {% else %}

            <tr>
                <td colspan="7" class="text-center">
                    No Booking Records

                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

</div>
{% endblock %}