{% extends "base.html" %}
{% block title %}
Available Treks
{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Available Treks</h2>
        <a href="{{ url_for('main.user_dashboard') }}" class="btn btn-secondary">
            Back
        </a>
    </div>

    <form method="GET" class="row g-3 mb-4">
        <div class="col-md-4">
            <input type="text" name="search" class="form-control" placeholder="Search Trek Name" value="{{ search }}">
        </div>

        <div class="col-md-3">
            <select name="difficulty" class="form-select">
                <option value="">All Difficulties</option>
                <option value="Easy" {% if difficulty=="Easy" %}selected{% endif %}>
                    Easy
                </option>

                <option value="Moderate" {% if difficulty=="Moderate" %}selected{% endif %}>
                    Moderate
                </option>

                <option value="Hard" {% if difficulty=="Hard" %}selected{% endif %}>
                    Hard
                </option>
            </select>

        </div>
        <div class="col-md-3">
            <input type="text" name="location" class="form-control" placeholder="Location" value="{{ location }}">
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary w-100">
                Search
            </button>
        </div>
    </form>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Difficulty</th>
                <th>Duration</th>
                <th>Slots</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% if treks %}
            {% for trek in treks %}
            <tr>
                <td>{{ trek.trek_name }}</td>
                <td>{{ trek.location }}</td>
                <td>{{ trek.difficulty }}</td>
                <td>{{ trek.duration }} Day(s)</td>
                <td>{{ trek.available_slots }}</td>
                <td>{{ trek.status }}</td>
                <td>
                    <a href="{{ url_for('main.book_trek', trek_id=trek.id) }}" class="btn btn-success btn-sm">
                        Book
                    </a>
                </td>

            </tr>

            {% endfor %}
            {% else %}
            <tr>
                <td colspan="7" class="text-center">
                    No Treks Available
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}